* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 600px;
}

input {
    border:1px solid rgb(224, 224, 224);
    width: 49%;
    line-height: 1.5rem;
}
#firstName {
    display: inline-block;
    width: 49%;
}
#lastName {
    margin-left: 7px;
    display: inline-block;
    width: 49%;
}
input[type="email"] {
    width: 100%;
}
select {
    border-color: rgb(224, 224, 224);
    width: 100%;
    padding: 6px;
}

textarea {
    border-color: rgb(224, 224, 224);
    width: 100%;
}
input[type="submit"] {
    background-color: rgb(90, 148, 164);
    border: none;
    color: white;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: black;
}
div {
    margin-top: 5vh;
}


